@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

/* Styles pour le titre 1 */
#Titre1 {
    color: white; /* Couleur du texte */
    margin: 0px;
    width: 80vw; /* Largeur de 80% de la vue */
    margin: auto; /* Centrage */
    font-weight: bold;
}

/* Style body */
body {
    background-color: #041821; /* Couleur d'arrière-plan */
}

/* Styles pour le titre 2 */
#Titre2 {
    color: rgb(23, 213, 154); /* Couleur du texte */
    margin: 0px;
    width: 80vw; /* Largeur de 80% de la vue */
    margin: auto; /* Centrage */
    font-weight: bold;
}

/* Styles pour les sections */
section {
    font-family: "Yeseva One", serif; /* Police utilisée */
    font-weight: 400;
    font-style: normal;
    font-size: 50px; /* Taille police */
    margin-top: 3%; /* Marge supérieure */
}


/* Styles pour le texte descriptif */
#texte1 {
    color: grey; /* Couleur texte */
    font-size: 18px; /* Taille police */
    width: 50%; /* Largeur de 50% */
    margin-left: 9%; ; /* Centrage */
    margin-top: 2%; /* Marge supérieure */
    padding: 4px; /* Padding */
}

/* Styles pour la grille d'images */
.grid-container {
    display: grid; /* Utilisation de grid pour disposition */
    padding: 5px;
}

/* Styles pour le container */
.container {
    display: flex; /* Flexbox pour aligner les éléments */
}

/* Styles pour les éléments de la grille */
.grid-item {
    text-align: center; /* Centre le texte */
}

/* Styles pour le point dans le nom */
#points {
    color: rgb(23, 213, 154); /* Couleur du point */
}
/* Styles pour le premier div du header */
#div1 {
    padding-left: 12px; /* Padding à gauche */
    margin: 0;
    width: 50%; /* Largeur de 50% */
}

/* Styles pour le texte dans le header */
header div p {
    color: white; /* Couleur texte */
    font-family: "Yeseva One", sans-serif; /* Police texte */
    font-size: 25px; /* Taille de police */
}

/* Styles pour les icônes du second div */
#div2 i {
    margin-left: 25px; /* Marge à gauche entre les icônes */
    color: white; /* Couleur des icônes */
}

/* Styles pour le second div du header */
#div2 {
    padding: 8px; /* Padding */
    text-align: right; /* Alignement à droite */
    width: 50%; /* Largeur de 50% */
    margin-top: auto;
    margin-bottom: auto;
}

/* Styles pour la liste non ordonnée */
#ul1 {
    display: flex; /* Flexbox pour l'alignement */
    padding: 0px; /* 0 padding */
    margin: 0px; /* 0 marge */
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto; /* Centrage */
    justify-content: center; /* Centrage des éléments */
    color: white; /* Couleur texte */
    font-family: "Monteserat", sans-serif;
}

/* Styles pour les éléments de la liste */
.li1 {
    margin-right: 20px; /* Marge à droite */
    text-align: center; /* Centre le texte */
    display: block; /* Affichage en bloc */
}

/* Styles pour le footer */
footer {
    color: white; /* Couleur texte */
    text-align: center; /* Centre texte */
    padding: 16px; /* Padding */
    font-size: 20px; /* Taille police */
}

/* Styles pour le fond vert de l'élément de liste */
#vert-back {
    background-color: rgb(23, 213, 154); /* Couleur fond */
    padding: 5px; /* Padding */
}

/* Styles pour le texte dans le footer */
footer #footer {
    color: white; /* Couleur texte */
    font-size: 15px; /* Taille police */
    text-align: center; /* Centre le texte */
}

/* Styles pour les images dans la grid-container */
.grid-container img {
    width: 98%; /* Largeur à 98% */
    height: auto; /* Hauteur automatique */
    display: block; /* Affichage en bloc */
    padding: 5px;
}

/* Grille avec 4 colonnes sur les écrans larges (≥1080px) */
@media (min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
        width: 80vw; /* Largeur de 80% de la vue */
        margin: auto; /* Centrage */
    }

    .grid-parent {
        padding-top: 30px; /* Padding supérieur */
        margin: 40px auto; /* Marges en haut et en bas */
    }

    .grid-item {
        max-width: 200px; /* Largeur maximale */
        height: 200px; /* Hauteur fixe */
    }

    .grid-item img {
        max-width: 200px; /* Largeur maximale des images */
        height: 200px; /* Hauteur fixe des images */
    }
}

/* Grille avec 5 colonnes sur tablette */
@media (min-width: 640px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr); /* 5 colonnes */
    }

    .grid-parent {
        padding-top: 30px; /* Padding supérieur */
        margin: 40px auto; /* Marges en haut et en bas */
    }

    .grid-item img {
        max-width: 140px; /* Largeur maximale des images */
        height: 140px; /* Hauteur fixe des images */
    }

    .grid-item {
        max-width: 140px; /* Largeur maximale */
        height: 140px; /* Hauteur fixe */
    }
}

/* Grille avec 3 colonnes sur mobile */
@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    }

    .grid-parent {
        padding-top: 30px; /* Padding supérieur */
        margin: 40px auto; /* Marges en haut et en bas */
    }

    .grid-item img {
        max-width: 140px; /* Largeur maximale des images */
        height: 140px; /* Hauteur fixe des images */
    }

    .grid-item {
        max-width: 140px; /* Largeur maximale */
        height: 140px; /* Hauteur fixe */
    }

    .container {
        display: block; /* Changer l'affichage à bloc */
    }

    #div1 {
        width: 100%; /* Largeur de 100% */
        text-align: center; /* Centre le texte */
        margin: 0%; /* Pas de marge */
    }

    #div2 {
        width: 100%; /* Largeur de 100% */
        text-align: center; /* Centre le texte */
        margin: 0%; /* Pas de marge */
        padding: 0%; /* Pas de padding */
    }

    .grid-container img:nth-child(n + 10) {
        display: none; /* Masquer les images au-delà de la 9ème */
    }
}
